<template>
  <div>
    <Header></Header>
    <div class="loader" v-if="!loaded">
      <img src="@/assets/img/Marvel-Comics-Logo.png" alt="Loading" height="100">
    </div>
    <div class="comicssection">
      <div class="container">
        <SearchBar @searchComics='setFilter' v-if="!comicId"></SearchBar>
        
        <div v-if="comicId">
          <a href="#/comics" class="button">&#10554;</a>
          <!--<button v-on:click="goBack">Volver</button>-->
        </div>

        <ComicsContainer :comics='comics' v-if="!comicId"></ComicsContainer>
        <ComicDetails :comics='comics' v-if="comicId && inComicMode"></ComicDetails>
      </div>
    </div>
    <div class="pageswrapper">
      <a v-for="page in totalPages" :key="page" class="page" v-bind:class="{ active: currentPage === page }" v-on:click="changePage(page)" v-if="!comicId">{{page}}</a>
    </div>
  </div>
</template>

<script>
import Header from './Header'
import SearchBar from './SearchBar'
import ComicsContainer from './ComicsContainer'
import ComicDetails from './ComicDetails'
import axios from "axios"

export default {
  name: 'ComicsSection',

  components: {
    Header,
    SearchBar,
    ComicsContainer,
    ComicDetails,
  },

  data () {
    return {
      comics : {},
      comicId: null,
      loaded: false,
      searchData: {},
      totalComics: 0,
      currentPage: 1,
      totalPages: 0,
      filter: "",
    }
  },

  methods : {
    saveComics(comics) {
      this.comics = comics;
    },

    getComics () {
      console.log("--Getting comics--", this.currentPage)
      if (this.filter) {
        this.loaded = false;
        //axios.get("https://gateway.marvel.com:443/v1/public/comics?format=comic&titleStartsWith=" + filter + "&apikey=bde51d4030098071530936e0a3b885f4")
        axios.get("https://gateway.marvel.com:443/v1/public/comics?formatType=comic&titleStartsWith=" + this.filter + "&limit=10&offset=" + ((this.currentPage - 1) * 10) + "&apikey=bde51d4030098071530936e0a3b885f4")
          .then(res => {
            this.comics = res.data.data.results;
            this.searchData = res.data.data;
            this.loaded = true;
        })
      } else {
        this.loaded = false;
        //axios.get("https://gateway.marvel.com:443/v1/public/comics?format=comic&apikey=bde51d4030098071530936e0a3b885f4")
        axios.get("https://gateway.marvel.com:443/v1/public/comics?formatType=comic&limit=10&offset=" + ((this.currentPage - 1) * 10) + "&apikey=bde51d4030098071530936e0a3b885f4")
          .then(res => {
            this.comics = res.data.data.results;
            this.searchData = res.data.data;
            this.loaded = true;
        })
      }
    },
    
    inComicMode () {
      if ($route.name === "Comics") {
        return true
      } else {
        return false
      }
    },

    goBack () {
      router.go(-1)
    },

    changePage (number) {
      this.currentPage = number;
      console.log("Pag cambiada", number, this.currentPage)
    },

    setFilter (filter) {
      this.filter = filter;
      this.currentPage = 1;
      this.getComics();
    }
  },

  created () {
    console.log("Comics Section created")
    this.getComics()

    this.comicId = this.$route.params.id;
    //this.getComics(comicId);
  },

  watch: {
    'comics' () {
      this.totalComics = this.searchData.total;
      this.totalPages = this.totalComics / 10;
      this.totalPages = Math.floor(this.totalPages);
    },
    '$route' (to, from) {
      this.comicId = this.$route.params.id;
      if (this.$route.params.page) {
        this.currentPage = this.$route.params.page;
      }

      console.log("Page:", this.currentPage, "Param:", this.$route.params.page)
      this.getComics();
    },
    'currentPage' () {
      /*this.comicId = this.$route.params.id;
      this.currentPage = this.$route.params.page;*/
      this.getComics();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.comicssection {
  display: flex;
  justify-content: center;
}
.container {
  background-color: #404040;
  color: #ffffff;
  width: 100%;
  /*min-height: 100vh;*/
}
.loader {
  background-color: #000000dd;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}
.button {
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
  padding: 10px 20px;
  background-color: #222222;
  /*display: inline-block;*/
  float: left;
}
.button:hover {
  background-color: #111111;
}
.pageswrapper {
  width: 100%;
  background-color: #111111;
  padding: 20px 0;
}
.page {
  display: inline-flex;
  justify-content: center;
  background-color: #900000;
  color: #ffffff;
  margin: 2px;
  padding: 3px;
  text-decoration: none;
  width: 30px;
  font-size: 0.9rem;
  border-radius: 2px;
  cursor: pointer;
}
.page:hover {
  background-color: #500000;
}
.active {
  background-color: #220000;
}
</style>
