<template>
  <div class="comicscontainer">
    <div class="container">
      <div v-for="comic in comicsVar" :key="comic.id" class="comicDiv">
        <!--{{comic.title}}-->
        <comic :comic="comic"></comic>
      </div>
    </div>
  </div>
</template>

<script>
import Comic from './Comic'

export default {
  name: 'ComicsContainer',

  props : ['comics'],

  components: {
    Comic,
  },

  data() {
    return {
      comicsVar: []
    };
  },

  watch: {
    'comics' () {
      this.comicsVar = this.comics
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.comicscontainer {
  display: flex;
  justify-content: center;
  background-color: #202020;
  padding-bottom: 20px;
}
.container {
  color: #ffffff;
  max-width: 1600px;
  height: 100%;
  padding-top: 20px;
}
.comicDiv{
  display: inline-flex;
}
</style>
