<template>
  <div class="wrapper">
    <div class="comic">
      <div class="title">{{comic.title}}</div>
      <!--<div>Id: {{comic.id}}</div>-->
      <div class="imgwrapper">
        <a :href="'#/comics/details/'+comic.id">
        <figure class="overlay">
          <img :src='comic.thumbnail.path + "." + comic.thumbnail.extension' alt="Imagen no encontrada">
        </figure>
          
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Comic',
  
  props : ['comic'],
  
  data() {
    return {
      
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.comic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f0;
  color: #101010;
  box-shadow: 0 0 15px #000000dd;
  border-radius: 4px;
  border-top: none;
  padding: 10px 0;
  width: 250px;
  height: 360px;
  margin: 12px;
}
.title {
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0 10px;
}
.imgwrapper {
  display: flex;
  justify-content: center;
  height: 300;
  overflow: hidden;
}
img {
  width: 200px;
}
.overlay {
  position: relative;
  float: left;
}
.overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  -moz-transition: background .2s linear;
  -webkit-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
}
.overlay:hover:before {
  background: #aa000090;
}
</style>
