<template>
  <div class="wrapper">
    <div class="comicdetails">
      <div>
        <div class="imgwrapper">
        <img :src="comic[0].thumbnail.path + '.' + comic[0].thumbnail.extension" alt="Portada">
        <img :src="comic[0].thumbnail.path + '.' + comic[0].thumbnail.extension" alt="Portada" class="blur">
      </div>
      </div>
      <div class="container">
        <div class="comicDiv">
          <h1>{{comic[0].title}}</h1>
          <p class="section">Descripción</p>
          <p>{{comic[0].description}}</p>
          <p class="section">Número de páginas</p>
          <p>{{comic[0].pageCount}}</p>
          <p class="section">Formato</p>
          <p>{{comic[0].format}}</p>
          <p class="section">Código UPC</p>
          <p>{{comic[0].upc}}</p>
          <div>
            <p class="section">Autores</p>
            <p v-for="autor in comic[0].creators.items" :key="autor.name">
              {{autor.name}} | {{autor.role}}
            </p>
          </div>
          <div>
            <p class="section">Personajes</p>
            <p v-for="personaje in comic[0].characters.items" :key="personaje.name">
              {{personaje.name}}
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios"

export default {
  name: 'ComicDetails',

  components: {
  },

  data() {
    return {
      comic: []
    };
  },

  methods : {
    getComic (id) {
      if (id) {
        console.log("https://gateway.marvel.com:443/v1/public/comics/" + id + "?apikey=bde51d4030098071530936e0a3b885f4")
        axios.get("https://gateway.marvel.com:443/v1/public/comics/" + id + "?apikey=bde51d4030098071530936e0a3b885f4")
          .then(res => {
            this.comic = res.data.data.results;
        })
      }
    },
  },

  created () {
    this.getComic(this.$route.params.id)
  },

  watch: {
    'comic' () {
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.wrapper {
  display: flex;
  justify-content: center;
  background-color: #202020;
  margin: 0 100px;
  padding: 40px;
}
img {
  height: 600px;
  position: absolute;
  z-index: 5;
}
.comicdetails {
  display: flex;
  justify-content: center;
  
  text-align: justify;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 100%;
  min-height: 100vh;
  padding-top: 20px;
  border-radius: 0 5px 5px 0;
}
.comicDiv {
  display: block;
  width: 60%;
}
.section {
  margin-top: 60px;
  margin-bottom: 0;
  font-size: 0.75rem;
  color: #ffffff50;
}
.imgwrapper {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blur {
  height: 700px;
  filter: blur(40px);
  position: relative;
  
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
}
</style>
