<template>
  <div class="header">
    <!--<h1>MARVEL</h1>-->
      <img src="@/assets/img/Marvel-Comics-Logo.png" alt="Marvel" height="30">
  </div>
</template>

<script>
export default {
  name: 'Header',
  data() {
    return {
      msg: 'Welcome to Your Vue.js App',
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.6rem;
  text-shadow: 0 3px 0 #00000030;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.header {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #be1821;
  padding: 10px 0;
  box-shadow: 10px 0 0 0 #400000;
}
.header * {
  margin: 0;
}
</style>
