<template>
  <div>
    <Header></Header>
    <div class="wrapper">
      <a href="#/comics">Comenzar</a>
    </div>
  </div>
</template>

<script>
import Header from './Header'

export default {
  name: 'Landing',

  components: {
    Header,
  },
  
  props : ['comic'],
  
  data() {
    return {
      
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000de;
}
a {
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 40px;
  background-color: #be1821;
  border-radius: 3px;
  border: 2px solid #00000081;
}
a:hover {
  background-color: #460003;
}
</style>
