<template>
  <div class="searchbar">
    <input type="text" name="searchinput" id="searchinput" v-model="filter" @keyup.enter="$emit('searchComics', filter)">
    <div class="dropdown">
      <div class="dropbtn">Tipo</div>
      <div class="options">
        <a href="#/comics">Comics</a>
        <a href="#/series">Series</a>
      </div>
    </div>
    <button @click="$emit('searchComics', filter)" name="searchbutton" placeholder="Titulo">Buscar</button>
  </div>
</template>

<script>

export default {
  name: 'SearchBar',
  data() {
    return {
      comics: {},
      filter: "",
    };
  },

  methods: {
    
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.searchbar {
  margin: 0;
  height: 50px;
  display: flex;
}
input {
  margin: 0;
  padding-left: 15px;
  /*height: 100%;*/
  border: none;
  width: 85%;
  color: #909090;
  font-weight: lighter;
  box-shadow: inset 0 0 6px #00000090;
}
.dropdown {
  border: none;
  border-right: 1px solid #00000060;
  width: 150px;
  background-color: #555555;
  color: #ffffff;
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
}
.dropbtn {
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  margin: 0;
  height: 100%;
  border: none;
  width: 15%;
  background-color: #555555;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #333333;
}
.options {
  display: none;
  position: absolute;
  left: 0;
  top: auto;
  z-index: 1;
}
.options a {
  width: 150px;
  padding: 16px 0;
  display: block;
  background-color: #555555;
  color: #ffffff;
  border-top: 1px solid #00000060;
}
.options a:hover {
  background-color: #333333;
}
.dropdown:hover .options {
  display: block;
}
</style>
