<template>
  <div>
    <Header></Header>
    <div class="loader" v-if="!loaded">
      <img src="@/assets/img/Marvel-Comics-Logo.png" alt="Loading" height="100">
    </div>
    <div class="seriessection">
      <div class="container">
        <SearchBar @searchComics='getComics'></SearchBar>
        <SeriesContainer :comics='comics'></SeriesContainer>
      </div>
    </div>
  </div>
</template>

<script>
import Header from './Header'
import SearchBar from './SearchBar'
import SeriesContainer from './SeriesContainer'
import axios from "axios"

export default {
  name: 'SeriesSection',

  components: {
    Header,
    SearchBar,
    SeriesContainer,
  },

  data () {
    return {
      comics : {},
      serieId: null,
      loaded: false,
    }
  },

  methods : {
    saveComics(comics) {
      this.comics = comics;
    },

    getComics (filter) {
      console.log("--Getting comics--")
      if (filter) {
        this.loaded = false;
        //axios.get("https://gateway.marvel.com:443/v1/public/comics?format=comic&titleStartsWith=" + filter + "&apikey=bde51d4030098071530936e0a3b885f4")
        axios.get("https://gateway.marvel.com:443/v1/public/series?titleStartsWith=" + filter + "&apikey=bde51d4030098071530936e0a3b885f4")
          .then(res => {
            this.comics = res.data.data.results;
            this.loaded = true;
        })
      } else {
        this.loaded = false;
        //axios.get("https://gateway.marvel.com:443/v1/public/comics?format=comic&apikey=bde51d4030098071530936e0a3b885f4")
        axios.get("https://gateway.marvel.com:443/v1/public/series?apikey=bde51d4030098071530936e0a3b885f4")
          .then(res => {
            this.comics = res.data.data.results;
            this.loaded = true;
        })
      }
    },
  },

  created () {
    console.log("Series Section created")
    this.getComics()
    this.serieId = this.$route.params.id;
  },

  watch: {
    'comics' () {
      console.log("Series changed section", this.comics)
    },
    '$route' (to, from) {
      this.serieId = this.$route.params.id;
      //this.getComics(comicId);
      console.log("URL changed")
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.seriessection {
  display: flex;
  justify-content: center;
}
.container {
  background-color: #404040;
  color: #ffffff;
  width: 100%;
  height: 100%;
}
.loader {
  background-color: #000000dd;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}
</style>
