<template>
  <div id="app">
    <!--
    <router-link to="/comics">Comics</router-link>
    <router-link to="/series">Series</router-link>
    -->
    <router-view/>
    
    <!--<ComicsSection></ComicsSection>-->
  </div>
</template>

<script>
import ComicsSection from './components/ComicsSection'

export default {
  name: 'App',
  
  components: {
    ComicsSection,
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
}
body {
  margin: 0;
}
</style>
